<div class="row">
	<div class="large-1 small-2 columns end">
		<a href="#/admin/uservoice/new" title="New"> <i class="fi-plus xlarge"> </i>
		</a>
	</div>
</div>
<div class="row">
	<div class="large-1 small-2 columns end">
		<a href="#/admin/uservoice/view" title="Search"> <i class="fi-magnifying-glass xlarge"> </i>
		</a>
	</div>
</div>
<div class="row">
	<div class="large-1 small-2 columns end">
		<a href="#/teacher/uservoice/view" title="My Uservoices"> <i class="fa fa-user fa-3x"> </i>
		</a>
	</div>
</div>
<div class="row">
	<div class="large-1 small-2 columns end">
		<a href="#/teacher/uservoice/view" title="Manage"> <i class="fi-wrench xlarge"> </i>
		</a>
	</div>
</div>
