<div class="row sas-modal-row" style="position: absolute; top: -60px;">
	<div class="small-12 large-12 columns" style="padding-left: 0px; padding-right: 0px;">

		<div class="sas-modal" data-alert style="margin-bottom: 0px;">
			<div class="sas-modal-title">
				{{modalTitle}}
			</div>
			<div class="sas-modal-content">

				<div ng-include="modalMessage"></div>

			</div>
			<div class="sas-modal-action">
				<a class="small button radius" ng-click="ok()">Close</a>
			</div>
		</div>
	</div>
</div>