<div class="row">
	<div class="small-12 large-12 columns" style="padding-left: 0px; padding-right: 0px;">

		<div class="alert-panel" data-alert style="margin-bottom: 0px;">
			<div class="alert-panel-title">
				Are you sure!
				<a class="alert-panel close" ng-click="cancel()">x</a>
			</div>
			<div class="alert-panel-message">{{confirmMessage}}</div>
			<div class="alert-panel-action">
				<a class="small button radius secondary" ng-click="cancel()">Cancel</a> 
				<a class="small button radius" ng-click="ok()">Continue</a> 
			</div>
		</div>
	</div>
</div>