<div align="center" ng-controller="AdminChangePasswordCtrl" ng-init="initialzeChangePassword()">
	<fieldset>
		<legend>Login</legend>
		<div align="left">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
			<form name="changePasswordForm" novalidate="novalidate">
				<div class="row">
					<div class="large-4 small-12 columns end">
						<label ng-class="getCssClass(changePasswordForm.username)">Username<sup>*</sup>
							<input type="text" name="username" ng-model="credential.username" required="required"/>
							<small ng-show="showMessage(changePasswordForm.username)" class="error">Please enter username.</small>
						</label>
					</div>
				</div>

				<div class="row">
					<div class="large-4 small-12 columns end">
						<label ng-class="getCssClass(changePasswordForm.pwd)">New Password<sup>*</sup>
							<input type="password" name="pwd" ng-model="credential.password" required="required" pattern=".{6,}" />
						</label>
						<small ng-show="showMessage(changePasswordForm.pwd)" class="error">Please enter password.</small>
					</div>
				</div>
				<div class="row">
					<div class="large-4 small-12 columns end">
						<label ng-class="getConfirmPasswordCssClass(changePasswordForm.confirmPwd)">Confirm Password<sup>*</sup>
							<input type="password" name="confirmPwd" ng-model="credential.confirmPassword" required="required" pattern=".{6,}" />
						</label>
						<small ng-show="showConfirmPasswordErrorMessage(changePasswordForm.confirmPwd)" class="error">Passwords should match.</small>
					</div>
				</div>
				<div class="row">
					<div class="large-2 small-6 columns">
						<button type="submit" class="button" ng-click="changePassword()">Change</button>
					</div>	
				</div>
			</form>
		</div>
	</fieldset>
</div>